* {
	margin: 0;
	padding: 0;
}

html, body, #all {
	height: 100%;
}

body {
	background: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#all {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
}

#skip {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

#skip a {
	position: fixed;
	left: -99999rem;
	z-index: 10000;
	padding: .5em;
	background: #fff;
	color: darkblue;
}

#skip a:hover, #skip a:focus, #skip a:active {
	left: 0;
}

#nav {
	width: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #ccd8d6;
}

#nav h1 {
	text-align: center;
}

#nav h1 img {
	width: 70%;
}

#nav ul {
	list-style-type: none;
}

#nav ul li {
	position: relative;
	margin: .2em 0;
}

#nav ul a {
	display: block;
	padding: .5em;
	padding-left: .2em;
	text-decoration: none;
	color: #2e3c3a;
	font-size: 1.2em;
	background: no-repeat .3em center;
	transition: all .2s;
}

#nav ul a svg, #nav ul a img {
	vertical-align: bottom;
	margin-right: .3em;
	height: 24px;
	width: 24px;
}

#nav ul .current a, #nav ul a:hover {
	background-color: #6f918a;
	color: #fff;
	border-radius: 0 .5em .5em 0;
	margin-right: -.5em;
}

#nav ul .current a {
	box-shadow: 0px 0px 5px #2e3c3a;
}

#nav footer {
	color: #999;
	text-align: center;
	padding: 1em;
	font-size: .9em;
	margin-top: auto;
}

#nav footer a {
	color: #666;
	display: block;
}

#nav footer a::before {
	content: "";
	background: url("logo.svg") no-repeat center center;
	background-size: contain;
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	margin-right: .5em;
}


a {
	color: #005c97;
}

input[type=text], input[type=password], input[type=number] {
	border: 1px solid #666;
	padding: .5em;
	border-radius: .5em;
	font-size: 1.2em;
	max-width: 50vw;
}

input[size] {
	min-width: 0;
}

input[type=submit], .btn {
	border: none;
	cursor: pointer;
	padding: .5em;
	border-radius: .5em;
	background: #ccd8d6;
	color: #2e3c3a;
	font-size: 1.5em;
	text-decoration: none;
	display: inline-block;
	margin: .5em 0;
}

input:focus {
	box-shadow: 0 0 10px orange;
	border-color: #2e3c3a;
	outline: none;
}

input[type=submit]:hover, .btn:hover {
	box-shadow: 0 0 10px orange;
}

h2.myfiles {
	float: right;
}

h2 .btn {
	margin: 0;
	font-size: 1em;
}

main {
	background: #fff;
	border-radius: 1rem;
	padding: 2rem;
	margin: 1rem;
	margin-left: 2rem;
	width: auto;
	flex-grow: 1;
	max-width: 50em;
}

main iframe {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	overflow: hidden;
}

main:has(iframe) {
	padding: 0;
	overflow: hidden;
	background: none;
	max-width: unset;
}

fieldset {
	text-align: center;
	border: 3px solid #6f918a;
	border-radius: 1em;
	padding: 2em;
}

legend {
	font-size: 1.3em;
	padding: 0 1em;
}

dl dt {
	font-weight: bold;
	margin: .8em 0;
	margin-top: 2em;
}

dl dd {
	margin: .8em 0;
}

dd.help {
	color: #666;
	font-size: .9em;
}

progress[value] {
	appearance: none;
	border: none;
	width: 70%;
	height: 20px;
	background-color: #ddd;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	position: relative;
	max-width: 20em;
}

progress[value]::-webkit-progress-bar {
	background-color: #ddd;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	background-image:
	linear-gradient(135deg, transparent, transparent 33%, rgba(0,0,0,.1) 33%, rgba(0,0,0,.1) 66%, transparent 66%),
	linear-gradient(to top, rgba(255, 255, 255, .25), rgba(0,0,0,.2)),
	linear-gradient(to right, #0c9, #f44);
}

.btn.sm {
	padding: .3em .5em;
	font-size: 1em;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
	border-radius: .5em;
	overflow: hidden;
	background: #f5f7f7;
}

table tbody tr:nth-child(even) {
	background: #fef4e7;
	border-radius: .5em
}

table th, table td {
	text-align: center;
	padding: .5em;
}

table thead {
	background: #333;
	color: #fff;
}

table progress[value] {
	height: 10px;
}

p.info {
	margin: 1em 0;
	padding: .5em;
	background: #ccd8d6;
	box-shadow: 0px 0px 10px #2e3c3a;
	border-radius: .5em;
	font-size: 1.2em;
}


p.error {
	margin: 1em 0;
	padding: .5em;
	background: #fcc;
	border-radius: .5em;
	font-size: 1.3em;
}

p.info tt {
	background: #666;
	color: #fff;
	padding: .2em;
}

h3 img {
	vertical-align: middle;
	margin: 0 1em;
}

p.actions {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 900px) {
	body {
		background: #eee;
	}
	#all {
		display: block;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	#nav {
		width: auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background: #ccd8d6;
		margin-top: auto;
	}

	#nav footer, #nav h1 {
		display: none;
	}

	#nav nav {
		width: 100%;
		margin: 0 .3em;
	}

	#nav ul {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		justify-content: stretch;
	}

	#nav ul li {
		margin: 0;
		flex-grow: 1;
	}

	#nav ul a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: .5em;
	}

	#nav ul a img, #nav ul a svg {
		margin: 0;
	}

	#nav ul a span {
		display: none;
	}

	#nav ul .current a, #nav ul a:hover {
		border-radius: .5em .5em 0 0;
		margin: 0;
		margin-top: -.3em;
		padding-top: .8em;
	}

	main {
		margin: 0;
		padding: .5em;
		border-radius: 0;
		background: none;
		overflow: auto;
	}
}


/* View transitions between page loads */
@view-transition {
	navigation: auto;
}